#SPDX-License-Identifier: MIT-0
---
# tasks file for system-users

- name: Gestionar grupos y usuarios
  when: usuarios is defined
  block:

    - name: Crear grupos del sistema
      become: true
      ansible.builtin.group:
        name: "{{ item }}"
        state: present
      loop: "{{ grupos }}"

    - name: Crear y gestionar usuarios
      become: true
      ansible.builtin.user:
        name: "{{ item.nombre }}"
        shell: "{{ item.shell }}"
        group: "{{ item.group }}"
        state: "{{ item.estado }}"
      loop: "{{ usuarios }}"



